@font-face{
    font-family: Caveat;
    src: url(Caveat-VariableFont_wght.ttf);
}

body{
    background-color: rgb(244, 201, 201);  
    font-family: Caveat;
}

.texto-centrado{
     text-align:center;
    background-color:rgb(193, 235, 243);
    border-radius: 20px;
}

.subtexto{
    text-align:center;
    background-color: ghostwhite;
    border-radius: 20px;
}

a{
    width: 20%;
}

img{
    width: 200px;
    margin: 2%;
}

#imagen-boton{
    width: 200px;
    margin: 2%;   
}

#imagen2{
    width: 50px;
    margin: 20%;   
}

#imagen4{
    width: 200px;
    margin: 2%;
}

#imagen5{
    width: 50px;
    margin: 20%;
}

#imagen7{
    width: 200px;
    margin: 2%;
}

#imagen8{
    width: 50px;
    margin: 20%;
}

#imagen1{
    width: 50px;
    margin: 2%;
}

#imagen10{
    width: 50px;
    margin: 20%;
}

.final{
    text-align: center;
    background-color: cornflowerblue;
}